{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
{% load static %}
<div class="">
    <!-- Page Header -->
    <header id="home" class="header">
      <div class="overlay"></div>
      <div class="header-content">
        <p>Jump into the sea of ignorance!</p>
        <h6>Ocean Blocks</h6>
        <i class="fa-duotone fa-bat"></i>
      </div>
    </header>
    <!-- End of Page Header -->
  
    <!-- newslatter -->
    <div class="newsl">
      <div class="overlay"></div>
      <div class="header-content d-flex align-items-center justify-content-center  text-center">
        <div class="row">
          <div class="col-sm ake">
            <a class="buyus" href=""> buy from us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- mewslater end -->
    <!-- start about -->
    <div class="container aboutme">
      <div class="row eighty">
        <div class="col">
          <h1>
            Hi, I am Asif Khan!
          </h1>
          <hr>
          <h6>Hey!</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione enim quaerat quod dicta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente reprehenderit, repellendus commodi
            repudiandae incidunt? Libero minus quaerat eveniet expedita quo. Eum ipsum, dolorem, officia quae consequuntur
            quaerat adipisci quas ad provident corporis nesciunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium ipsum, neque magnam
            voluptatum odio iste odit impedit, cumque, labore architecto. Vitae commodi eveniet iste soluta quos sit
            accusamus. Illo asperiores minus perspiciatis. Accusamus corrupti aut et maiores ex unde rem veritatis
            perspiciatis nostrum minima.
          </p>
          <h6>
            <div class=" d-flex align-items-center justify-content-center  text-center navbar-expand-lg pre-nav-custom">
              <a class="hav " href="http://facebook.com" target="_blank" rel="noopener noreferrer">interested about me</a>
            </div>
  
          </h6>
        </div>
        <div class="col">
          <div class="aboutl">
            <div class="overlay"></div>
            <div class="header-content">
              <p>Jump into the sea of ignorance!</p>
              <h6>Ocean Blocks</h6>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- end about -->
  <hr style="width: 120px; background-color: #ff1d1d; height: 2px"/>
    <!-- start company -->
    <div class="headcomp">
      <!-- <div class=" d-flex align-items-center justify-content-center  text-center navbar-expand-lg">
        <h4>My previous projects</h4>
      </div> -->
    </div>
  
    <div class="container">
      <div class=" d-flex align-items-center justify-content-center  text-center navbar-expand-lg">
        <h2>Companies I worked with!</h2>
      </div>

      <!-- <p>The .thumbnail class can be used to display an image gallery.</p>
      <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
      <p>Click on the images to enlarge them.</p> -->
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://www.instagram.com/wolion1/" target="_blank">
              <img src="{% static 'imgs/insta.jpg' %}" alt="Lights" style="width:100%">
              <div class="caption">
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="facebbok.com/thewolion" target="_blank">
              <img src="{% static 'imgs/twit.jpg' %}" alt="Lights" style="width:100%">
              <div class="caption">
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="twitter.com/thewolion" target="_blank">
              <img src="{% static 'imgs/google.jpg' %}" alt="Lights" style="width:100%">
              <div class="caption">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
        <!-- End company -->
  
  </div>
  
  
{% endblock body %}